@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClearSans-Light.woff') format('woff'), url('../fonts/ClearSans-Light.ttf')  format('truetype'), url('../fonts/ClearSans-Light.svg#ClearSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),  url('MullerLight.otf')  format('opentype'),
	     url('../fonts/MullerLight.woff') format('woff'), url('../fonts/MullerLight.ttf')  format('truetype'), url('../fonts/MullerLight.svg#MullerLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MullerRegular.otf')  format('opentype'),
	     url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf')  format('truetype'), url('../fonts/MullerRegular.svg#MullerRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),  url('../fonts/MullerMedium.otf')  format('opentype'),
	     url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf')  format('truetype'), url('../fonts/MullerMedium.svg#MullerMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MullerBold.otf')  format('opentype'),
	     url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf')  format('truetype'), url('../fonts/MullerBold.svg#MullerBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/MullerBlack.otf')  format('opentype'),
	     url('../fonts/MullerBlack.woff') format('woff'), url('../fonts/MullerBlack.ttf')  format('truetype'), url('../fonts/MullerBlack.svg#MullerBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

body{
	margin:0;
	padding:0;  
	font-family: 'Muller';  
	font-weight: 400;
	font-size: 15px;
	line-height:1.5;
	color:rgb(0, 0, 0);
	min-width: 360px;
    letter-spacing: 0.015em;
}

.wrapper{
	max-width:1200px;
	margin:0 auto;
	padding:0 40px;
}

header, footer, nav, section, main, article, aside{
    display: block;
}

h1, h2, h3 {
    margin: 0;
}

button, textarea, input {
    font-family: 'Muller'; 
}

a{
    font-size: 13px;
    color: rgb(34, 154, 255);
}

a:hover{
	color:#0054bd;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.between {
    justify-content: space-between;
}

/* header */

header {
    height: 70px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

header .logo{
    float: left;
    text-decoration: none;    
    font-size: 32px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    line-height: 70px;
}

header nav {
    margin: auto 0;
}

header nav ul{
	margin:0;
	padding:0;    
	overflow: hidden;
}

header nav li{
    display: block;
    float: left;
}  

header nav a{
    display: block; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    padding: 0 10px;
    letter-spacing: 0.5px
}

header .announce {
    border: 2px solid rgb(0, 112, 61);
    background: none;
    width: 186px;
    height: 42px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 112, 61);
    line-height: 42px;
    margin: auto 8px auto 18px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
	text-decoration:none;
	cursor:pointer;
}

header .announce_mobile {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 48px;
    margin: auto 0;
    font-size: 36px;
    font-weight: 300;
    color: #181818;
    text-decoration: none;
    text-align: center;
}

header .icon {
    display: inline-block;
    position: relative;
    background: url(../images/sprites.svg) -999px -999px;
	width: 40px;
	height: 40px;
    margin: auto 0;
}

header .messages {
    position: relative;
    margin: auto 0;
    width: 40px;
	height: 40px;
}

header .messages .quantity {
    background-color: rgb(0, 112, 61);
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 10px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1;
    padding: 3px 5px 2px;  
    box-sizing: border-box;
}

header .heart.icon {
    background-position: -58px -998px;
}

header .login {
    position: relative;
    margin: auto 0;
	height: 40px;
    box-sizing: border-box;
    padding-left: 25px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 43px;
    letter-spacing: 0.5px;
}

header .login::before {
    content: "";
    background: url(../images/sprites.svg) -130px -9px;
    width: 17px;
	height: 18px;
    position: absolute;
    top: 12px;
    left: 0;
}

/* main_screen */

.main_screen {
    background: url(../images/pattern.svg) center, linear-gradient(to top, #54d169, #a1eb76);
    display: flex;
    min-height: 388px;
    position: relative;
    overflow: hidden;
}

.main_screen.active {
    padding-bottom: 35px;
    overflow: visible;
}

.main_screen .wrapper {
    position: relative;
    display: flex;
}

.main_screen .cat_background {
    background: url(../images/Cat&Dog-pic.png) no-repeat left;
    width: 385px;
    height: 400px;
    position: absolute;
    left: -110px;
    bottom: -15px;
}

.main_screen .cat_background.active {
    background: url(../images/Cat&Dog-pic.png) no-repeat right;
    left: -150px;
}

.main_screen.active .cat_background {
    bottom: -35px;
}

.main_screen .inner {
    margin: auto;
}

.main_screen h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    margin: 10px 0;
}

.main_screen .friends {
    font-size: 18px;
    text-align: center;
}

.main_screen .form {
    flex-wrap: nowrap;
    margin-top: 43px;
    position: relative;
}

.main_screen .form .input_wr {
    flex: 1;
}

.main_screen .form .input_wr input {
    width: 100%;
}

.main_screen .form .select_input_wr {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}

.main_screen .form .cat_dog_city_wr {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}

.main_screen .form input {
    display: block;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    line-height: 60px;
    font-family: "Muller";
    font-weight: 400;
    font-size: 18px;
    color: rgb(108, 108, 108);
    border: none;
    outline: none;
    padding: 10px 20px;
}

.main_screen .form .city {
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-left: 51px;
    position: relative;
}

.main_screen .form .for_icon {
    position: relative;
    width: 100%;
}

.main_screen .form .for_icon::before{
    content: '';
    background: url(../images/sprites.svg) -186px -75px;
	width: 22px;
	height: 31px;
    position: absolute;
    top: 15px;
    left: 16px;
    z-index: 2;
}

.main_screen .form .input_wr .for_example, .main_screen .form .input_wr .for_example a  {
    font-size: 14px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-top: 6px;
}

.main_screen .select {
    position: relative;
}

.main_screen .select .select_field {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.main_screen .select.cat_dog .select_field {
    width: 100px;
    margin: 0 3px;
}

.select .select_field:before{
    content: '';
    position: absolute;
    width: 14px;
    height: 10px;
    background: url(../images/sprites.svg) -277px -97px;
    top: 25px;
    right: 20px;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.select.active .select_field:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.main_screen .select ul {
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 60px;
    left: 0;
}

.main_screen .form .select.cat_dog ul{
    width: calc(100% - 6px);
    margin: 0 3px;
}

.select.active ul {
	display:block;
}

.main_screen .select ul li {
    display: block;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #ebebeb;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 20px;
	cursor:default;
}

.main_screen .select ul li:hover {
    background-color: #ebebeb;
}

.main_screen .form .cat_dog li {
    position: relative;
}

.main_screen .form .field {
    background: url(../images/sprites.svg);
    background-position: -9px -75px;
    width: 34px;
	height: 31px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15px;
    margin: auto 0;
}

.main_screen .form  .field.dog {
    background-position: -92px -75px;
    width: 38px;
}

.main_screen .form  button {
    background-color: rgb(0, 112, 61);
    width: 206px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    margin-left: 20px;
    outline: none;
    box-sizing: border-box;
	cursor:pointer;
}

.main_screen .form .extended_search_button {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: right;
    margin-top: 6px;
}

.main_screen .form .extended_search_button.active {
    position: relative;
}

.main_screen .extended_search_button.active::before {
    content: "-";
    position: absolute;
    top: 0;
    right: 155px;
}

.main_screen .extended_search {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(0, 112, 61, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 112px;
}

.main_screen.active .extended_search_wr {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1050px;
    margin: 0 auto;
}

.main_screen .extended_search .select {
    margin: 25px 10px 0;
    width: 33.3333%;
}

.main_screen .extended_search .select_field {
    font-size: 18px;
    width: 100%;
}

/* advertisement_screen */

.advertisement_screen {
    padding: 45px 0 17px;
}

.advertisement_screen .columns .right {
    width: 300px;
    padding: 5px 0;
    margin-left: 50px;
}

.advertisement_screen .columns .right .banner1 {
    background-color: rgb(235, 235, 235);
    height: 500px;
    margin-bottom: 30px;
}

.advertisement_screen .columns .right .banner2 {
    background-color: aliceblue;
    height: 160px;
}

.advertisement_screen .banner {
    display: none;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 200px;
    margin: -30px 0 30px;
}

.advertisement_screen .columns .left {
    flex: 1;
}

.advertisement_screen .columns .left .advertisement {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.advertisement_screen .left .photo {
    background-color: blue;
    width: 240px;
    height: 180px;
    margin: 5px 0;
}

.advertisement_screen .left .info {
    flex: 1;
    padding-left: 30px;
}

.advertisement_screen .left .info h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.advertisement_screen .left .info .sex {
    font-size: 13px;
    padding: 0 26px;
    letter-spacing: 0.1px;
    position: relative;
    float: left;
}

.advertisement_screen .left .info .sex::before {
    content: "";
    background: url(../images/sprites.svg);
    height: 21px;
    position: absolute;
    left: 0;
    top: 0;
}

.advertisement_screen .left .info .sex.girl::before {
    background-position: -43px -314px;
	width: 21px;
} 

.advertisement_screen .left .info .sex.boy::before {
    background-position: -10px -314px;
	width: 20px;
} 

.advertisement_screen .left .info .description {
    font-size: 13px;
    font-family: "ClearSans";
    font-weight: 300;
    color: rgb(108, 108, 108);
    text-align: justify;
    margin: 12px 0;
}

.advertisement_screen .left .info .details {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.advertisement_screen .left .info .detail {
    padding: 15px 22px 12px 21px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(108, 108, 108);
    position: relative;
}

.advertisement_screen .left .info .detail.number {
    padding: 15px 22px 12px 13px;
}

.advertisement_screen .left .info .detail::before {
    content: "";
    background: url(../images/sprites.svg) -10px -158px;
	width: 15px;
	height: 14px;
    position: absolute;
    left: 0;
}

.advertisement_screen .left .info .detail.viewers::before {
    background-position: -67px -162px;
	width: 17px;
	height: 10px;
    top: 18px;
}

.advertisement_screen .left .info .detail.number::before {
    background-position: -130px -162px;
	width: 10px;
	height: 10px;
    top: 18px;
}

.favorite {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    height: 36px;
    line-height: 36px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
	text-decoration:none;
	cursor:pointer;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0 8px 0 33px;
    letter-spacing: 0.4px;
    position: relative;
    float: right;
    margin: 5px 3px;
}

.favorite::before {
    content: "";
    background: url(../images/sprites.svg) -180px -160px;
	width: 14px;
	height: 14px;
    position: absolute;
    left: 10px;
    top: 10px;
}

/* search_screen */

.search_screen h3 {
    font-size: 28px;
    font-weight: 700;
} 

.search_screen .columns {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 8px;
} 

.search_screen .columns .column {
    padding-right: 120px;
}

.search_screen .columns a {
    display: block;
    font-size: 14px;
    margin: 14px 0;
}

/* footer */

footer {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.8;
    margin-top: 82px;
}

footer a {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.8;
}

footer .first_line {
    background-color: #f7f7f7;
    padding: 24px 0 17px;
}

footer .first_line .mail a {
    text-decoration: none;
}

footer .first_line .social_icons .icon {
    display: inline-block;
    background: url(../images/sprites.svg) -10px -230px;
	width: 51px;
	height: 52px;
}

footer .first_line .social_icons .icon.vk {
    background-position: -108px -230px;
}

footer .first_line .social_icons .icon.insta {
    background-position: -206px -230px;
}

footer .second_line {
    background-color: #d5d5d5;
    padding: 14px 0;
}

footer .second_line .developers {
    font-weight: 300;
}

/* Media */


@media screen and (max-width: 1279px) {
    
    .wrapper {
        padding: 0 15px;
    }
    
    .main_screen .cat_background {
        left: -80px;
    }
    
    .main_screen .form .input_wr .for_example {
        display: none;
    }
    
    .advertisement_screen .columns .right {
        display: none;
    }
    
    .advertisement_screen .banner {
        display: block;
    }
    
    .advertisement_screen .left .info {
        padding-left: 20px;
    }
    
}

@media screen and (max-width: 1023px) {
     .main_screen .cat_background {
        display: none;
    }
    
    .main_screen .form button {
        width: 170px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    header {
        height: 50px;
    }
    
      header .logo {
        font-size: 30px;
        line-height: 50px;
    }

    header .navbar {
        display: none;
    }
    
    header .announce {
        display: none;
    }
    
    header .announce_mobile {
        display: inline-block;
    }
    
    .main_screen {
        height: 457px;
    }
    
    .main_screen h1 {
        font-size: 28px;
        margin-top: 10px;
    }
    
    .main_screen .friends {
        display: none;
    }
    
    .main_screen .form {
        flex-direction: column;
        margin-top: 19px;
    }
    
     .main_screen .select_input_wr {
        flex-direction: column;
    }
    
    .main_screen .form .line {
        width: 100%;
        margin-bottom: 5px;
    }
    
    .main_screen .select.cat_dog .select_field {
        margin: 0 5px 0 0;
    }
    
    .main_screen .form .select.cat_dog ul {
        width: calc(100% - 5px);
        margin: 0;
    }
    
    .main_screen .form button {
        width: 100%;
        margin: 15px 0;
        height: 70px;
    }
    
    .main_screen .for_example {
        display: none;
    }
    
    .main_screen .form .extended_search_button {
        display: none;
    }
    
    .advertisement_screen {
        padding: 170px 0 14px;
    }
    
    .advertisement_screen .left .info {
        flex: auto;
        width: 100%;
        padding: 0;
    }
    
    .search_screen h3 {
        font-size: 26px;
        line-height: 1;
    }
 
    .search_screen .columns {
        flex-direction: column;
        margin: 0;
    }
    
    .search_screen .columns .column {
        padding: 0;
    }
    
    .search_screen .columns a:last-child {
        margin: 14px 0 0;
    }
    
    footer {
        margin-top: 25px;
    }
    
    footer .flex.between {
        justify-content: center;
    }
    
    footer .links {
        width: 100%;
        text-align: center;
    }
    
    footer .social_icons {
        margin: 22px 0 5px;
    }
    
    footer .second_line {
        padding: 24px 0;
    }
    
    footer .developers {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    header .login span {
        display: none;
    }
    
    header .login::before {
        right: 0;
        left: auto;
    }
    
    .advertisement_screen .columns .left .advertisement {
        border: none;
        padding-bottom: 15px;
        margin: 0;
    }
        
    .advertisement_screen .left .photo {
        width: 100%;
    }
    
    .advertisement_screen .left .info h2 {
        font-size: 20px;
        text-align: justify;
        line-height: 1.3;
        margin: 5px 0;
    }

    .advertisement_screen .left .info .sex {
        float: none;
        margin-bottom: 5px;
    }
    
    .advertisement_screen .left .info .description {
        margin: 0;
    }
    
    .advertisement_screen .left .info .detail {
        padding: 5px 18px 5px 20px;
    }
    
    .advertisement_screen .left .info .detail.number {
        padding: 5px 18px 5px 20px;
    }
    
    .advertisement_screen .left .info .detail.viewers::before,
    .advertisement_screen .left .info .detail.number::before {
        top: 8px;
    }
    
    .advertisement_screen .left .info .details, .favorite {
        float: none;
        margin: 0;
    }
    
    .advertisement_screen .banner {
        display: none;
    }
}


